body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h2 {
    text-align: center;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    text-align: center;
}
.sidebar ul li:hover {
    background-color: #444;
    cursor: pointer;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}
.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.form-group {
    margin-bottom: 25px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input, .form-group span {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group span {
    padding: 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.form-group input {
    display: none;
}
.form-group.editing input {
    display: block;
}
.form-group.editing span {
    display: none;
}
.edit-button, .save-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.payment {
    display: inline-block;
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.payment:hover {
    background-color: #9ccf38;
}

.edit-button:hover, .save-button:hover{
    background-color: #0056b3;
}